* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav a {
	max-height: 5rem;
}

a {
	text-decoration: none;
	color: #ffc60d;
}
a:hover {
	color: #ffa20d;
}
.yellow-pills a,
.yellow-pills a:hover {
	color: #fff !important;
}

.yellow-pills a:is(.active),
.yellow-pills a:is(.active):hover {
	color: #fed136 !important;
	background-color: transparent !important;
}

.header {
	height: 100vh;
	width: 100%;
	background: url(assets/img/header-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}
.header h1 {
	font-size: 5rem;
}
.header button {
	font-size: 1.15rem;
	background-color: #fed138;
	border-radius: 0.25rem;
	padding: 1rem 2rem;
	border: none;
	outline: none;
}
#services {
	height: 100%;
	padding: 5rem 0;
	width: 100%;
}
.services__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.services__box i {
	background-color: #fed138;
	height: 8rem;
	width: 8rem;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#portfolio {
	padding-top: 3.5rem;
	height: 100%;
	width: 100%;
	background-color: #eee;
}

.portfolio__box {
	height: 24rem;
}
.portfolio__box img {
	height: 16rem;
	width: 100%;
}

#about {
	padding-top: 3.5rem;
	height: 100%;
	width: 100%;
}
.about__line {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	width: 2px;
	height: 100%;
	background-color: #e4e4e4;
	z-index: -1;
}
.about__line--mobile {
	position: absolute;
	left: 16%;
	top: 0;
	transform: translateX(-50%);
	width: 2px;
	height: 100%;
	background-color: #e4e4e4;
	z-index: -1;
}
.about__img img {
	border-radius: 50%;
	width: 100%;
	border: 0.4rem solid #e4e4e4;
}
.about__img--end{
	border-radius: 50%;
	border: 0.4rem solid #e4e4e4;
	background-color: #fed138;
	width: 10rem;
	
	height: 10rem;
}
#team {
	padding-top: 3.5rem;
	margin-top: 3rem;
	width: 100%;
	background: rgb(250, 250, 250);

}
.team__image {
	border: 0.4rem solid #e4e4e4;
}
.team__socail {
	display: flex;
justify-content: center;
align-items: center;
}
.team__socail i{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin: 0 0.5rem;
	background: rgb(75, 75, 75);

}
.team__socail i {
	font-size: 1.25rem;
	color: #fff;
}
.team__logo {
	background-color: #fff;
}
#contact {
	width: 100%;
	height: 100vh;
	background-color: #212528;
}
.contact {
	background-image: url(assets/img/map-image.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.contact input {
	width: 100%;
	margin: 0.5rem 0;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
}

.contact__form--left input {
	height: 4rem;
}
.contact__form--right {
	padding: 0.5rem 0;
}
.contact__form--right * {
	height: 100%;
	width: 100%;
	margin: 0;
	border-radius: 0.3rem;
	padding: 1rem;
	outline: none;
	border: none;
}
.contact__submit {
	outline: none;
	border: none;
	padding: 1rem 3rem;
	background-color: #fed138;
}
footer {
	background-color: #eee;
	height: 5rem;
}
.footer__social i {
	background: rgb(47, 47, 47);
	border-radius: 50%;
	color: white;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__social i:active {
	background: rgb(26, 26, 26);
}

@media screen and (max-width: 768px) {
	#services {
		height: 100%;
	}
	#portfolio {
		height: 100%;
	}
	#about {
		height: 100%;
	}
	#contact {
		height: 100%;
	}
}
